{% extends "base.html.twig" %}
{% block conntent  %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>price</th>
            <th>quantity</th>
            <th>Description</th>
            <th>image</th>
            <th>createAt</th>
        </tr>
        </thead>
        <tbody>
        {% for p in productss %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.quantity }}</td>
                <td>{{ p.description }}</td>
                <td><img src="{{ p.imageurl }}" height="100" /></td>
                <td>{{ p.createAt }}</td>

                <td> <button type="button" class="btn btn-primary btn-sm">Suprimer</button></td>
                <td><button type="button" class="btn btn-primary btn-sm">Modifier</button></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}